
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total_employees">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Employees</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_employees}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="Total Party">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Parties</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_parties}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total wage money</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_wage_money}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>